<?xml version="1.0" encoding="UTF-8" ?>
    
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "co.gov.atlantico.aaemprod"  
        versionCode = "32" 
        version     = "1.5.7" >
        <!--         
        co.gov.atlantico.aaemprod playstore
        co.gov.atlantico.aaem appstore 
        -->
        <!-- <platform name="ios" /> -->
        <platform name="android" />


        <name>AAEM</name>
    
        <description>
            Aplicación de la Gobernación del Atlántico para apoyo a diagnósticos médicos a madres gestantes
        </description>

        <author href="https://www.elecore.com.co" email="ccast2@gmail.com">
            Carlos Andrés Castellanos para la subsecretaria de salud del atlantico.
        </author>

        <!-- Habilita los dialogos como alertas y confirm -->
        <gap:plugin name="org.apache.cordova.dialogs" />
        <!-- Habilita las notificaciones dentro de la aplicacion -->
        <gap:plugin name="nl.x-services.plugins.toast"/>
        <!-- Habilita la conexion a internet -->
        <gap:plugin name="cordova-plugin-whitelist" source="npm" />
        <!-- Vibracion en el dispositivo -->        
        <gap:plugin name="org.apache.cordova.vibration" />
        <!-- Integra las notificaciones por PUSH  (APN y GCM) -->
        <gap:plugin name="com.phonegap.plugins.pushplugin" />
        <!-- Devuelve la informacion del dispositivo -->
        <gap:plugin name="org.apache.cordova.device" version="0.3.0" />
        <!-- Habilita los sonidos -->
        <gap:plugin name="org.apache.cordova.media" />
        <!-- Habilita el plugin de la camara -->
        <gap:plugin name="org.apache.cordova.camera" />
        <!-- Permite la manipulacion de las fotos -->
        <plugin name="cordova-plugin-file" spec="3.0.0" source="pgb" />
        <plugin name="cordova-plugin-file-transfer" spec="1.3.0" source="pgb" />
        
        <!-- android -->
        <icon src="res/android/mipmap-mdpi/ic_launcher.png" platform="android" qualifier="ldpi" />
        <icon src="res/android/mipmap-mdpi/ic_launcher.png" platform="android" qualifier="mdpi" />
        <icon src="res/android/mipmap-hdpi/ic_launcher.png" platform="android" qualifier="hdpi" />
        <icon src="res/android/mipmap-xhdpi/ic_launcher.png" platform="android" qualifier="xhdpi" />
        <icon src="res/android/mipmap-xxhdpi/ic_launcher.png" platform="android" qualifier="xxhdpi" />
        <icon src="res/android/mipmap-xxxhdpi/ic_launcher.png" platform="android" qualifier="xxxhdpi" />


        <gap:splash gap:density="ldpi" gap:platform="android" src="res/android/splash/LDPI.png" />
        <gap:splash gap:density="mdpi" gap:platform="android" src="res/android/splash/MDPI.png" />
        <gap:splash gap:density="hdpi" gap:platform="android" src="res/android/splash/HDPI.png" />
        <gap:splash gap:density="xhdpi" gap:platform="android" src="res/android/splash/XHDPI.png" />


        <access origin="*" />
        <allow-navigation href="http://*/*" />
        <allow-intent href="*" />
        <preference name="orientation" value="portrait" />
        <preference name="webviewbounce" value="false" />

        <feature name="debug-server" required="true">
            <param name="domain" value="http://192.168.0.7:8080"/>
            <param name="key" value="android"/>
        </feature>

        <!-- <preference name="android-windowSoftInputMode" value="adjustPan" /> -->
        <!-- <preference name="phonegap-version" value="3.7.0"/> -->
        <preference name="alwaysRetainTaskState" value="true" />
        <preference name="clearTaskOnLaunch" value="false" />
        <preference name="launchMode" value="singleTask" />    
        <!-- <preference name="hardwareAccelerated" value="true" /> -->
        <preference name="exit-on-suspend" value="false"/>
        <preference name="android-minSdkVersion" value="7" />
</widget>